@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lobster|Roboto+Mono|Montserrat|Yantramanav|Spicy+Rice&display=swap');

@media only screen and (min-width: 1367px) {
    #navbar-id {
        top: 0;
        opacity: 1;
    }

    .navbar-menu-button {
        top: -50px;
        opacity: 0;
    }

    .container-photo {
        min-height: 650px;
    }

    .main-image-carrier {
        min-height: 1000px;
    }

    .logo-inside-name {
        top: 370px;
    }

    .logo-inside-text {
        top: 470px;
    }

    .button-to-about-me-wrapper {
        top: 850px;
    }

    .about-me-container {
        display: flex;
    }

    .left-about-me-wrapper {
        min-width: 500px;
        max-width: 500px;
    }

    .about-me-text {
        font-size: 20px;
    }

    .right-about-me-wrapper {
        min-width: 500px;
        font-size: 16px;
    }

    .border-skills {
        margin: 0 40px;
    }

    .my-projects-wrapper {
        min-height: 920px;
    }

    .project-wrapper {
        display: flex;
        margin: 0 60px;
    }

    .break-between-projects {
        display: flex;
    }

    .break-between-projects-low-res {
        display: none;
    }

    .single-project {
        margin: 15px;
    }

    .project-image {
        width: 300px;
    }

    .project-image-on-hover {
        min-width: 300px;
        min-height: 150px;
    }

    .project-image-text-inside {
        font-size: 40px;
        line-height: 150px;
    }

    .project-name {
        font-size: 24px;
    }

    .project-info {
        min-height: 165px;
    }

    .project-single-tool {
        font-size: 18px;
    }

    .some-words-about-me {
        width: 1152px;
        font-size: 16px;
    }

    .some-words-my-projects {
        top: 650px;
        width: 1152px;
        font-size: 16px;
    }

    .subwords-my-projects {
        padding: 40px 0;
    }

    .contact-me-wrapper {
        padding: 100px 0;
    }

    .socials {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
    #navbar-id {
        top: 0;
        opacity: 1;
    }

    .navbar-menu-button {
        top: -50px;
        opacity: 0;
    }

    .container-photo {
        min-height: 650px;
    }

    .main-image-carrier {
        min-height: 650px;
    }

    .logo-inside-name {
        top: 220px;
    }

    .logo-inside-text {
        top: 320px;
    }

    .button-to-about-me-wrapper {
        top: 550px;
    }

    .about-me-container {
        display: flex;
    }

    .left-about-me-wrapper {
        min-width: 400px;
        max-width: 400px;
    }

    .about-me-text {
        font-size: 20px;
    }

    .right-about-me-wrapper {
        min-width: 400px;
        font-size: 16px;
    }

    .border-skills {
        margin: 0 25px;
    }

    .my-projects-wrapper {
        min-height: 920px;
    }

    .project-wrapper {
        display: flex;
        margin: 0 25px;
    }

    .break-between-projects {
        display: flex;
    }

    .break-between-projects-low-res {
        display: none;
    }

    .single-project {
        margin: 15px;
    }

    .project-image {
        width: 300px;
    }

    .project-image-on-hover {
        min-width: 300px;
        min-height: 150px;
    }

    .project-image-text-inside {
        font-size: 30px;
        line-height: 150px;
    }

    .project-name {
        font-size: 18px;
    }

    .project-info {
        min-height: 140px;
    }

    .project-single-tool {
        font-size: 16px;
    }

    .some-words-about-me {
        width: 960px;
        font-size: 15px;
    }

    .some-words-my-projects {
        top: 650px;
        width: 960px;
        font-size: 15px;
    }

    .subwords-my-projects {
        padding: 40px 0;
    }

    .contact-me-wrapper {
        padding: 80px 0;
    }

    .socials {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
    #navbar-id {
        top: 0;
        opacity: 1;
    }

    .navbar-menu-button {
        top: -50px;
        opacity: 0;
    }

    .container-photo {
        min-height: 500px;
    }

    .main-image-carrier {
        min-height: 500px;
    }

    .logo-inside-name {
        top: 170px;
    }

    .logo-inside-text {
        top: 270px;
    }

    .button-to-about-me-wrapper {
        top: 400px;
    }

    .about-me-container {
        display: flex;
    }

    .left-about-me-wrapper {
        min-width: 330px;
        max-width: 330px;
    }

    .about-me-text {
        font-size: 16px;
    }

    .right-about-me-wrapper {
        min-width: 330px;
        font-size: 14px;
    }

    .border-skills {
        margin: 0 15px;
    }

    .my-projects-wrapper {
        min-height: 775px;
    }

    .project-wrapper {
        display: flex;
        margin: 0 25px;
    }

    .break-between-projects {
        display: flex;
    }

    .break-between-projects-low-res {
        display: none;
    }

    .single-project {
        margin: 15px;
    }

    .project-image {
        width: 200px;
    }

    .project-image-on-hover {
        min-width: 200px;
        min-height: 100px;
    }

    .project-image-text-inside {
        font-size: 20px;
        line-height: 100px;
    }

    .project-name {
        font-size: 12px;
    }

    .project-info {
        min-height: 87px;
    }

    .project-single-tool {
        font-size: 10px;
    }

    .some-words-about-me {
        width: 660px;
        font-size: 12px;
    }

    .some-words-my-projects {
        top: 550px;
        width: 660px;
        font-size: 12px;
    }

    .subwords-my-projects {
        padding: 30px 0;
    }

    .contact-me-wrapper {
        padding: 70px 0;
    }

    .socials {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    #navbar-id {
        top: -50px;
        opacity: 0;
    }

    .navbar-menu-button {
        top: 6px;
        opacity: 1;
    }

    .container-photo {
        min-height: 500px;
    }

    .main-image-carrier {
        min-height: 500px;
    }

    .logo-inside-name {
        top: 170px;
    }

    .logo-inside-text {
        top: 270px;
    }

    .button-to-about-me-wrapper {
        top: 400px;
    }

    .about-me-container {
        display: block;
    }

    .left-about-me-wrapper {
        min-width: 330px;
        max-width: 330px;
    }

    .about-me-text {
        font-size: 16px;
    }

    .right-about-me-wrapper {
        min-width: 330px;
        font-size: 14px;
    }

    .border-skills {
        margin: 0 10px;
    }

    .my-projects-wrapper {
        min-height: 1480px;
    }

    .project-wrapper {
        display: block;
        margin: 0 25px;
    }

    .break-between-projects {
        display: none;
    }

    .break-between-projects-low-res {
        display: flex;
    }

    .single-project {
        margin: 0;
    }

    .project-image {
        width: 250px;
    }

    .project-image-on-hover {
        min-width: 250px;
        min-height: 125px;
    }

    .project-image-text-inside {
        font-size: 22px;
        line-height: 130px;
    }

    .project-name {
        font-size: 11px;
    }

    .project-info {
        min-height: 74px;
    }

    .project-single-tool {
        font-size: 8px;
    }

    .some-words-about-me {
        width: 540px;
        font-size: 10px;
    }

    .some-words-my-projects {
        top: 1300px;
        width: 540px;
        font-size: 10px;
    }

    .subwords-my-projects {
        padding: 24px 0;
    }

    .contact-me-wrapper {
        padding: 78px 0;
    }

    .socials {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 400px)  {
    #navbar-id {
        top: -50px;
        opacity: 0;
    }

    .navbar-menu-button {
        top: 6px;
        opacity: 1;
    }

    .container-photo {
        min-height: 450px;
    }

    .main-image-carrier {
        min-height: 450px;
    }

    .logo-inside-name {
        top: 120px;
    }

    .logo-inside-text {
        top: 220px;
    }

    .button-to-about-me-wrapper {
        top: 350px;
    }

    .about-me-container {
        display: block;
    }

    .left-about-me-wrapper {
        min-width: 330px;
        max-width: 330px;
    }

    .border-skills {
        margin: 0 10px;
    }

    .about-me-text {
        font-size: 14px;
    }

    .right-about-me-wrapper {
        min-width: 330px;
        font-size: 14px;
    }

    .my-projects-wrapper {
        min-height: 1330px;
    }

    .project-wrapper {
        display: block;
        margin: 0 25px;
    }

    .break-between-projects {
        display: none;
    }

    .break-between-projects-low-res {
        display: flex;
    }

    .single-project {
        margin: 0;
    }

    .project-image {
        width: 200px;
    }

    .project-image-on-hover {
        min-width: 200px;
        min-height: 100px;
    }

    .project-image-text-inside {
        font-size: 16px;
        line-height: 100px;
    }

    .project-name {
        font-size: 6px;
    }

    .project-info {
        min-height: 51px;
    }

    .project-single-tool {
        font-size: 6px;
    }

    .some-words-about-me {
        width: 380px;
        font-size: 8px;
    }

    .some-words-my-projects {
        top: 1150px;
        width: 380px;
        font-size: 8px;
    }

    .subwords-my-projects {
        padding: 18px 0;
    }

    .contact-me-wrapper {
        padding: 52px 0;
    }

    .socials {
        margin-top: 20px;
    }
}

body {
    margin: 0;
    background: #444957;
    height: 2000px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: SANS-SERIF, Roboto Mono, Lobster, Montserrat, Fjalla One, Spicy Rice, Yantramanav;
}

p {
    margin: 0;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    padding: 10px;
    border: double;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #3E3E3E;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

h5.validationError {
    max-width: 210px;
    margin-top: 10px;
    font-size: 12px;
    color: red;
}

.btn {
    cursor: pointer;
}

.wrapper {
    background-color: #4e4e4e;
}

.front-page-wrapper {
    top: 0;
    width: 100%;
}

.navbar-menu-button {
    position: fixed;
    z-index: 99999999999;
    opacity: 0.7;
    max-height: 43px;
    right: 20px;
    transition: 1s ease-in-out;
}

.rotated-open {
    transform: rotate(360deg);
    transition: 1s ease-in-out;
}

.rotated-close {
    transform: rotate(-360deg);
    transition: 1s ease-in-out;
}

.navbar-btn-opened {
    opacity: 1;
    display: block;
}

.navbar-btn-closed {
    opacity: 0;
    display: none;
}

/*.navbar-menu-button:active {*/
/*    transform: rotate(1080deg);*/
/*    opacity: 0.4;*/
/*}*/

.navbar {
    position: fixed;
    /*top: 0;*/
    width: 100%;
    z-index: 999;
    min-height: 50px;
    line-height: 50px;
    /*box-shadow: 0 3px 5px 0 rgba(50,50,50,.4);*/
    transition: opacity 0.3s 0.3s;
}

.navbar-on {
    opacity: 1 !important;
    top: 0 !important;
    /*background: rgb(8, 8, 8, 0.6);*/
    transition: 1s ease-in-out;
}

.navbar-off {
    opacity: 1;
    box-shadow: unset;
    background-color: transparent;
    transition: 0.5s ease-in-out;
}

.navbar-shadow {
    background: rgb(8, 8, 8, 0.6);
    box-shadow: 0 3px 5px 0 rgba(50,50,50,.4);
}

.navbar-block {
    text-align: center;
}

.navbar-link {
    color: white;
    margin-right: 15px;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
}

.navbar-link:last-child {
    margin-right: 0 !important;
    transform: perspective(0px) translateZ(0) !important;
}

.navbar-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #ffffff;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.navbar-link:hover:before, .navbar-link:focus:before, .navbar-link:active:before {
    left: 0;
    right: 0;
}

/*
 *  FRONT VIEW block
 */

.container-photo {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-image-carrier {
    /* Photo by Fabian Grohs on unsplash.com */
    background-image: url("https://images.unsplash.com/photo-1508830524289-0adcbe822b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1422&q=80");
    opacity: 0.3;
    filter: blur(2px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #272627;
}

.logo-inside-name {
    font-family: Fjalla One;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 70px;
    font-weight: 100;
}

.logo-inside-text {
    font-family: Roboto Mono;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
}

.button-to-about-me-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
}

.button-to-about-me {
    margin: 0 auto;
}

/*
 *  ABOUT ME block
 */

.about-me-wrapper {
    min-height: 950px;
    background-color: #444957;
    background-color: white;
}

.about-me-subcontainer {
    display: grid;
}

.about-me-header, .my-projects-header {
    padding: 75px 0;
    font-family: Montserrat;
    font-size: 40px;
    text-align: center;
    color: #323c47;
}

.about-me-container {
    margin: 0 auto;
}

.left-about-me-wrapper {
    background-image: linear-gradient(to right, #27c37b, #31f5be);
    display: grid;
    grid-template-rows: max-content;
    place-items: center;
    height: 300px;
    border-radius: 35px;
    box-shadow: 0 4px 15px 0 rgba(50,50,50,0.6)
}

.left-about-me-image, .right-about-me-image {
    margin-top: 15px;
}

.border-about-me {
    content: "";
    margin-top: -120px;
    width: 50%;
    height: 1px;
    background-color: black;
}

.about-me-text {
    margin: 10px 0;
    margin-top: -125px;
    padding: 0px 45px;
    font-family: Yantramanav;
    text-align: center;
    color: black;
}

.border-between-about-me {
    border: 1px solid #e1e1e1;
    margin: 50px 75px;
}

.right-about-me-wrapper {
    background-image: linear-gradient(to right, #31f5be, #27c37b);
    display: grid;
    grid-template-rows: max-content;
    place-items: center;
    height: 300px;
    border-radius: 35px;
    box-shadow: 0 4px 15px 0 rgba(50,50,50,0.6)
}

.skills-container {
    display: flex;
    margin-top: -15px;
    padding-bottom: 45px;
}

.left-skills-container, .right-skills-container {
    flex: 1 0 0;
}

.border-skills {
    border: 1px solid #29672b;
}

.skill-name {
    margin-bottom: 5px;
}

.skill-name:last-child {
    margin-bottom: 0;
}

.some-words-about-me {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px 0;
    border-top: 1px solid #d5e0e4;
    border-bottom: 1px solid #d5e0e4;
}

.first-about-me {
    text-align: center;
}

.second-about-me {
    margin-top: 30px;
    text-align: center;
}

/*
 *  MY PROJECTS block
 */

.my-projects-wrapper {
    background-color: #5b5e67;
    position: relative;
}

.my-projects-header {
    padding-top: 75px;
    padding-bottom: 30px;
    color: white;
}

.my-projects-list {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.project-wrapper {

}

.break-between-projects {
    width: 33%;
    border-bottom: 1px solid #b1b1b1;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.break-between-projects-low-res {
    width: 33%;
    border-bottom: 1px solid #b1b1b1;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.single-project {
    width: 100%;
}

.project-photo-link {
    display: flex;
    overflow: hidden;
    transition: 1s 1s;
    border-radius: 4px;
}

.project-photo-link:hover .project-image-on-hover {
    visibility: visible;
    opacity: 0.9;
}

.project-photo-link:hover .project-image {
    transform: scale(1.2);
}

.project-image {
    transform: scale(1);
    transition: 1s;
}

.project-image-on-hover {
    position: absolute;
    color: #fff;
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
    background-color: #4e1479;
    border-radius: 4px;
}

.project-image-text-inside {
    font-family: Fjalla one;
    text-align: center;
}

.project-info {
    background: #e6e6e6;
    padding: 7px 5px 7px 9px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: CURSIVE;
    text-align: center;
}

.project-name {
    display: block;
    border-radius: 0px;
    font-family: Yantramanav;
    font-weight: 700;
}

.border-project {
    border-top: 1px;
    background-color: #717171;
    width: 75%;
    height: 1px;
    margin: 0 auto;
}

.project-tools {
    display: grid;
}

.project-single-tool {
    color: #4e4e4e;
}

.some-words-my-projects {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0%);
    border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
}

.subwords-my-projects {
    text-align: center;
    color: #dbe1f3;
}

/*
 *  CONTACT ME block
 */

.contact-me-wrapper {
    display: flex;
    background-color: #364347;
}

.my-contacts-wrapper {
    margin: 0 auto;
}

.contact-me-header {
    margin: 15px 0;
    text-align: center;
    font-weight: 700;
    font-family: Montserrat;
}

.socials {
    display: flex;
}

.socials-wrap {
    margin: 0 auto;
}

.socials-links {
    margin: 6px;
}

.socials-images {
    opacity: 0.5;
    transition: 0.3s;
}

.socials-images:hover {
    opacity: 1;
}