@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lobster|Roboto+Mono&display=swap');

@media only screen and (min-width: 1367px) {
    .main-image-carrier {
        min-height: 1000px;
    }

    .logo-inside-name {
        top: 370px;
    }

    .logo-inside-text {
        top: 470px;
    }

    .button-to-about-me-wrapper {
        top: 850px;
    }

    .single-project {
        margin: 20px;
    }

    .project-image {
        width: 400px;
    }

    .project-image-on-hover {
        min-width: 400px;
        min-height: 200px;
    }

    .project-image-text-inside {
        font-size: 40px;
        line-height: 200px;
    }

    .project-name {
        font-size: 24px;
    }

    .project-author {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
    .main-image-carrier {
        min-height: 650px;
    }

    .logo-inside-name {
        top: 220px;
    }

    .logo-inside-text {
        top: 320px;
    }

    .button-to-about-me-wrapper {
        top: 550px;
    }

    .single-project {
        margin: 15px;
    }

    .project-image {
        width: 300px;
    }

    .project-image-on-hover {
        min-width: 300px;
        min-height: 150px;
    }

    .project-image-text-inside {
        font-size: 30px;
        line-height: 150px;
    }

    .project-name {
        font-size: 18px;
    }

    .project-author {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 801px) {
    .main-image-carrier {
        min-height: 500px;
    }

    .logo-inside-name {
        top: 170px;
    }

    .logo-inside-text {
        top: 270px;
    }

    .button-to-about-me-wrapper {
        top: 400px;
    }

    .single-project {
        margin: 15px;
    }

    .project-image {
        width: 200px;
    }

    .project-image-on-hover {
        min-width: 200px;
        min-height: 100px;
    }

    .project-image-text-inside {
        font-size: 20px;
        line-height: 100px;
    }

    .project-name {
        font-size: 12px;
    }

    .project-author {
        font-size: 9px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .main-image-carrier {
        min-height: 500px;
    }

    .logo-inside-name {
        top: 170px;
    }

    .logo-inside-text {
        top: 270px;
    }

    .button-to-about-me-wrapper {
        top: 400px;
    }

    .single-project {
        margin: 15px;
    }

    .project-image {
        width: 175px;
    }

    .project-image-on-hover {
        min-width: 175px;
        min-height: 87.5px;
    }

    .project-image-text-inside {
        font-size: 18px;
        line-height: 87.5px;
    }

    .project-name {
        font-size: 11px;
    }

    .project-author {
        font-size: 8px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 400px)  {
    .main-image-carrier {
        min-height: 300px;
    }

    .logo-inside-name {
        top: 120px;
    }

    .logo-inside-text {
        top: 220px;
    }

    .button-to-about-me-wrapper {
        top: 200px;
    }

    .single-project {
        margin: 15px;
    }

    .project-image {
        width: 100px;
    }

    .project-image-on-hover {
        min-width: 100px;
        min-height: 50px;
    }

    .project-image-text-inside {
        font-size: 10px;
        line-height: 50px;
    }

    .project-name {
        font-size: 6px;
    }

    .project-author {
        font-size: 5px;
    }
}

body {
    margin: 0;
    background: #272627;
    height: 2000px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: SANS-SERIF, Roboto Mono, Lobster, Fjalla One;
}

p {
    margin: 0;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    padding: 10px;
    border: double;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #3E3E3E;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

h5.validationError {
    max-width: 210px;
    margin-top: 10px;
    font-size: 12px;
    color: red;
}

.btn {
    cursor: pointer;
}

.front-page-wrapper {
    top: 0;
    width: 100%;
}

.navbar-menu-button-wrapper {

}

.navbar-menu-button {
    position: fixed;
    z-index: 99999999999;
    top: 4px;
    right: 40px;
    transition: 0.5s ease-in-out;
}

.navbar {
    /*background-color: #ca1122e6;*/
    position: fixed;
    top: -50px;
    width: 100%;
    z-index: 999;
    min-height: 50px;
    line-height: 50px;
    box-shadow: 0 3px 5px 0 rgba(50,50,50,.4);
    transition: opacity 0.3s 0.3s;
}

.moved-navbar {
    background: rgb(8, 8, 8, 0.6);
    top: 0;
    transition: 1s ease-in-out;
}

.moved-navbar-off {
    background-color: transparent;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.navbar-block {
    text-align: center;
}

.navbar-link {
    color: white;
    margin-right: 15px;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
}

.navbar-link:last-child {
    margin-right: 0 !important;
    transform: perspective(0px) translateZ(0) !important;
}

.navbar-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #ffffff;
    height: 2px;
    /*-webkit-transition-property: left, right;*/
    transition-property: left, right;
    /*-webkit-transition-duration: 0.5s;*/
    transition-duration: 0.5s;
    /*-webkit-transition-timing-function: ease-out;*/
    transition-timing-function: ease-out;
}

.navbar-link:hover:before, .navbar-link:focus:before, .navbar-link:active:before {
    left: 0;
    right: 0;
}

/*
 *  FRONT VIEW block
 */

.container-photo {
    min-height: 650px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-image-carrier {
    /* Photo by Glenn Carstens-Peters on Unsplash */
    background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
    /*min-height: 650px;*/
    opacity: 0.3;
    filter: blur(3px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #272627;
}

.logo-inside-name {
    font-family: Fjalla One;
    position: absolute;
    width: 100%;
    text-align: center;
    /*color: #ca1122e6;*/
    color: white;
    font-size: 70px;
    font-weight: 100;
}

.logo-inside-text {
    font-family: Roboto Mono;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
}

.button-to-about-me-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
}

.button-to-about-me {
    margin: 0 auto;
}

/*
 *  ABOUT ME block
 */

.about-me-wrapper {
    margin-bottom: 50px;
    min-height: 600px;
}

.about-me-header, .my-projects-header {
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: Fjalla one;
    font-size: 40px;
    text-align: center;
    color: white;
}

.about-me-text {
    margin: 10px 0;
    font-family: Roboto Mono;
    font-size: 25px;
    text-align: center;
    color: white;
}

.about-me-subtext {
    margin: 10px 0 0 0;
    font-family: Roboto Mono;
    font-size: 20px;
    text-align: center;
    color: white;
}

/*
 *  MY PROJECTS block
 */

.my-projects-wrapper {
    background-color: #009FAA;
    min-height: 600px;
    position: relative;
}

.my-projects-list {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-wrapper {
    display: flex;
}

.single-project {
    width: 100%;
}

.project-photo-link {
    display: flex;
    transition: 1s 1s;
}

.project-photo-link:hover .project-image-on-hover {
    visibility: visible;
    opacity: 0.8;
}

.project-image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.project-image-on-hover {
    position: absolute;
    color: #fff;
    visibility: hidden;
    transition: 0.7s;
    opacity: 0;
    background-color: #09914B;
}

.project-image-text-inside {
    font-family: Fjalla one;
    text-align: center;
}

.project-info {
    background: #e6e6e6;
    padding: 7px 5px 7px 9px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: CURSIVE;
}

.project-name {
    flex: 1 0 0;
    display: flex;
    border-radius: 0px;
}

.project-author {
    font-weight: 700;
}

/*.img-inside-my-projects {*/
/*    !* Photo by Sebastian Engler from unsplash.com*!*/
/*    background-image: url("https://images.unsplash.com/photo-1455476915919-2b028d0a1230?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");*/
/*    opacity: 0.05;*/
/*    width: 100%;*/
/*    min-height: 600px;*/
/*    position: absolute;*/
/*}*/