<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page - RealCryZed</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div id="wrapper-id" class="wrapper">
        <div class="container-photo">
            <div class="main-image-carrier"></div>
            <h1 class="logo-inside-name">Igor Petrov</h1>
            <h3 class="logo-inside-text" id="logo-inside-text-id">Russia-based Java Software Engineer</h3>

            <div class="button-to-about-me-wrapper">
                <button class="button-to-about-me" th:href="@{/}" onclick="scrollToAboutMe();">
                    <!-- This Icon from www.flaticon.com-->
                    <img th:src="@{icons/down-arrow.png}"/>
                </button>
            </div>
        </div>
        <div class="front-page-wrapper">
<!--            <div id="navbar-menu-button-wrapper-id" class="navbar-menu-button-wrapper">-->
<!--                <button id="navbar-menu-button-id" class="navbar-menu-button" onclick="openNavbarMenu();">-->
<!--                    &lt;!&ndash; This Icon from www.flaticon.com&ndash;&gt;-->
<!--                    <img width="40px" height="40px" th:src="@{icons/menu.png}"/>-->
<!--                </button>-->
<!--            </div>-->
            <div id="navbar-id" class="navbar moved-navbar-off">
                <nav class="navcon">
                    <div class="navbar-block">
                        <button onclick="scrollToStart();" class="navbar-link navbar-link-home">HOME</button>
                        <button onclick="scrollToAboutMe();" class="navbar-link">ABOUT ME</button>
                        <button onclick="scrollToMyProjects();" class="navbar-link">MY PROJECTS</button>
                        <button class="navbar-link">CONTACT</button>
                    </div>
                </nav>
            </div>

            <div id="about-me-wrapper-id" class="about-me-wrapper">
                <h1 class="about-me-header">About me</h1>

                <p class="about-me-text">I'm 17 years old Java Programmer, based in Omsk, Russia.</p>
                <p class="about-me-subtext">I am driven by ambition , a desire to develop and get new skills.</p>
            </div>

            <div id="my-projects-wrapper-id" class="my-projects-wrapper">
                <!--                <div class="img-inside-my-projects"></div>-->
                <img src="icons/photo-1455476915919-2b028d0a1230.jpg" style="width:100%;opacity: 0.05;max-height: 600px;">


                <div class="my-projects-list">
                    <h1 class="my-projects-header">My Projects</h1>
                    <!-- 1 project -->
                    <div class="project-wrapper">
                        <div class="single-project">
                            <a class="project-photo-link" href="https://github.com/RealCryZed/cstv">
                                <img class="project-image" src="icons/1-pic-project.png">
                                <div class="project-image-on-hover">
                                    <h3 class="project-image-text-inside">Visit the site</h3>
                                </div>
                            </a>
                            <div class="project-info">
                                <span class="project-name">Counter-Strike TV</span>
                                <span class="project-author">by RealCryZed</span>
                            </div>
                        </div>
                        <!-- 2 project -->
                        <div class="single-project">
                            <a class="project-photo-link" href="https://github.com/RealCryZed/shopper">
                                <img class="project-image" src="/icons/2-pic-project.png">
                                <div class="project-image-on-hover">
                                    <h3 class="project-image-text-inside">Visit the site</h3>
                                </div>
                            </a>
                            <div class="project-info">
                                <span class="project-name">Shopper</span>
                                <span class="project-author">by RealCryZed</span>
                            </div>
                        </div>
                        <!-- 3 project -->
                        <div class="single-project">
                            <a class="project-photo-link" href="www.youtube.com">
                                <img class="project-image" src="/icons/2-pic-project.png">
                                <div class="project-image-on-hover">
                                    <h3 class="project-image-text-inside">Visit the site</h3>
                                </div>
                            </a>
                            <div class="project-info">
                                <span class="project-name">......</span>
                                <span class="project-author">by RealCryZed</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener("scroll", function() {
            if (window.scrollY != 0) {
                document.getElementById('navbar-id').classList.remove('moved-navbar-off');
                document.getElementById('navbar-id').classList.add('moved-navbar');
            } else {
                document.getElementById('navbar-id').classList.remove('moved-navbar');
                document.getElementById('navbar-id').classList.add('moved-navbar-off');
            }
        });
    </script>
    <script>
        function openNavbarMenu() {
            document.getElementById('navbar-id').classList.remove('moved-navbar-off');
            document.getElementById('navbar-id').classList.add('moved-navbar');

            document.getElementById('navbar-menu-button-wrapper-id').classList.add('button-off');
            document.getElementById('navbar-menu-button-id').onclick = function() { closeNavbarMenu() }
        }

        // function closeNavbarMenu() {
        //     document.getElementById('navbar-id').classList.remove('moved-navbar');
        //     document.getElementById('navbar-id').classList.add('moved-navbar-off');
        //
        //     document.getElementById('navbar-menu-button-wrapper-id').classList.remove('button-off');
        //     document.getElementById('navbar-menu-button-id').onclick = function() { openNavbarMenu() }
        // }

        function scrollToStart() {
            var element = document.getElementById("wrapper-id");
            element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
        }

        function scrollToAboutMe() {
            var element = document.getElementById("about-me-wrapper-id");
            element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
        }

        function scrollToMyProjects() {
            var element = document.getElementById("my-projects-wrapper-id");
            element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
        }
    </script>
    <script>

        var pos = 0;
        var txt = document.getElementById("logo-inside-text-id").innerHTML; /* The text */
        var speed = 130; /* The speed/duration of the effect in milliseconds */
        var speedErase = 50;
        var speedToStop1 = 1000;
        var speedToStop2 = 2500;

        document.getElementById('logo-inside-text-id').innerText = '';

        setTimeout(typeWriter, speed);

        function typeWriter() {
            if (pos < txt.length) {
                document.getElementById('logo-inside-text-id').innerHTML += txt.charAt(pos);
                pos++;
                setTimeout(typeWriter, speed);
            } else {
                setTimeout(erase, speedToStop2)
            }
        }

        function erase() {
            if (pos >= 0) {
                var temp = txt.substring(0, pos);
                document.getElementById('logo-inside-text-id').innerText = temp;
                pos--;
                setTimeout(erase, speedErase);
            }  else {
                setTimeout(typeWriter, speedToStop1);
            }
        }
    </script>
<!--    <script type="text/javascript" src="https://www.dcfonts.com/wp-includes/js/wp-embed.min.js?ver=5.3.2"></script>-->
</body>
</html>