<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page - RealCryZed</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div id="wrapper-id" class="wrapper">
        <div class="container-photo">
            <div class="main-image-carrier"></div>
            <h1 class="logo-inside-name">Igor Petrov</h1>
            <h3 class="logo-inside-text" id="logo-inside-text-id">Russia-based Java Software Engineer</h3>

            <div class="button-to-about-me-wrapper">
                <button class="button-to-about-me" th:href="@{/}" onclick="scrollToAboutMe();">
                    <!-- This Icon from www.flaticon.com-->
                    <img th:src="@{icons/down-arrow.png}"/>
                </button>
            </div>
        </div>
        <div class="front-page-wrapper">
<!--            <div id="navbar-menu-button-wrapper-id" class="navbar-menu-button-wrapper">-->
<!--                <button id="navbar-menu-button-id" class="navbar-menu-button" onclick="openNavbarMenu();">-->
<!--                    &lt;!&ndash; This Icon from www.flaticon.com&ndash;&gt;-->
<!--                    <img width="40px" height="40px" th:src="@{icons/menu.png}"/>-->
<!--                </button>-->
<!--            </div>-->
            <div id="navbar-id" class="navbar moved-navbar-off">
                <nav class="navcon">
                    <div class="navbar-block">
                        <button onclick="scrollToStart();" class="navbar-link navbar-link-home">HOME</button>
                        <button onclick="scrollToAboutMe();" class="navbar-link">ABOUT ME</button>
                        <button onclick="scrollToMyProjects();" class="navbar-link">MY PROJECTS</button>
                        <button onclick="scrollToContactMe();" class="navbar-link">CONTACT</button>
                    </div>
                </nav>
            </div>

            <div id="about-me-wrapper-id" class="about-me-wrapper">
                <div class="about-me-subcontainer">
                    <h1 class="about-me-header">About me</h1>
                    <div class="about-me-container">
                        <div class="left-about-me-wrapper">
                            <img class="left-about-me-image" src="/icons/my-info.png">
                            <h3 style="margin-top: -9px;">About me</h3>
                            <div class="border-about-me"></div>
                            <p class="about-me-text">I'm 17 years old Java Programmer, based in Omsk, Russia. I'm driven by ambition, a desire to develop and get new skills.</p>
                        </div>

                        <div class="border-between-about-me"></div>

                        <div class="right-about-me-wrapper">
                            <img class="right-about-me-image" src="/icons/my-skills.png">
                            <h3 style="margin-top: 2px;">My skills</h3>
                            <div class="skills-container">
                                <div class="left-skills-container">
                                    <h4 class="skill-name">Java</h4>
                                    <h4 class="skill-name">PostgreSQL</h4>
                                    <h4 class="skill-name">MongoDb</h4>
                                    <h4 class="skill-name">Spring Framework</h4>
                                </div>
                                <div class="border-skills"></div>
                                <div class="right-skills-container">
                                    <h4 class="skill-name">Java</h4>
                                    <h4 class="skill-name">PostgreSQL</h4>
                                    <h4 class="skill-name">MongoDb</h4>
                                    <h4 class="skill-name">Spring Framework</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="some-words-about-me">
                        <h1 class="first-about-me">In 14 years, I started my journey by learning HTML and CSS and doing some simple stuff. For now, I've done 2 Spring projects, which you can see below. I'm confident, funny and cheerful guy who loves tech and believes in hard work.</h1>
                    </div>
                </div>
            </div>

            <div id="my-projects-wrapper-id" class="my-projects-wrapper">
<!--                <img src="icons/photo-1455476915919-2b028d0a1230.jpg" style="width:100%;opacity: 0.05;max-height: 600px;">-->

                <div id="my-projects-list-id" class="my-projects-list">
                    <h1 class="my-projects-header">My Projects</h1>

                    <div class="project-wrapper">
                        <!-- 1 project -->
                        <div class="single-project">
                            <a class="project-photo-link" href="https://github.com/RealCryZed/cstv">
                                <img class="project-image" src="icons/1-pic-project.png">
                                <div class="project-image-on-hover">
                                    <h3 class="project-image-text-inside">Visit the site</h3>
                                </div>
                            </a>
<!--                            <div class="project-info">-->
<!--                                <span class="project-name">Counter-Strike TV</span>-->
<!--                                <div class="border-project"></div>-->
<!--                                <div class="project-tools">-->
<!--                                    <span class="project-single-tool">Java 12</span>-->
<!--                                    <span class="project-single-tool">Spring Framework</span>-->
<!--                                    <span class="project-single-tool">MongoDb & PostgreSQL</span>-->
<!--                                    <span class="project-single-tool">Caffeine Cache</span>-->
<!--                                    <span class="project-single-tool">Lombok</span>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="break-between-projects-low-res"></div>
                        <!-- 2 project -->
                        <div class="single-project">
                            <a class="project-photo-link" href="https://github.com/RealCryZed/shopper">
                                <img class="project-image" src="/icons/2-pic-project.png">
                                <div class="project-image-on-hover">
                                    <h3 class="project-image-text-inside">Visit the site</h3>
                                </div>
                            </a>
<!--                            <div class="project-info">-->
<!--                                <span class="project-name">Shopper</span>-->
<!--                                <div class="border-project"></div>-->
<!--                                <div class="project-tools">-->
<!--                                    <span class="project-single-tool">Java 12</span>-->
<!--                                    <span class="project-single-tool">Spring Framework</span>-->
<!--                                    <span class="project-single-tool">PostgreSQL</span>-->
<!--                                    <span class="project-single-tool">Lombok</span>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="break-between-projects-low-res"></div>
                        <!-- 3 project -->
                        <div class="single-project">
                            <a class="project-photo-link" href="#">
                                <img class="project-image" src="/icons/2-pic-project.png">
                                <div class="project-image-on-hover">
                                    <h3 class="project-image-text-inside">Visit the site</h3>
                                </div>
                            </a>
<!--                            <div class="project-info">-->
<!--                                <span class="project-name">......</span>-->
<!--                                <div class="border-project"></div>-->
<!--                                <div class="project-tools">-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="break-between-projects-low-res"></div>
                    </div>

                    <div class="break-between-projects"></div>

                    <div class="project-wrapper">
                        <!-- 4 project -->
                        <div class="single-project">
                            <a class="project-photo-link" href="#">
                                <img class="project-image" src="/icons/1-pic-project.png">
                                <div class="project-image-on-hover">
                                    <h3 class="project-image-text-inside">Visit the site</h3>
                                </div>
                            </a>
<!--                            <div class="project-info">-->
<!--                                <span class="project-name">......</span>-->
<!--                                <div class="border-project"></div>-->
<!--                                <div class="project-tools">-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="break-between-projects-low-res"></div>
                        <!-- 5 project -->
                        <div class="single-project">
                            <a class="project-photo-link" href="#">
                                <img class="project-image" src="/icons/1-pic-project.png">
                                <div class="project-image-on-hover">
                                    <h3 class="project-image-text-inside">Visit the site</h3>
                                </div>
                            </a>
<!--                            <div class="project-info">-->
<!--                                <span class="project-name">......</span>-->
<!--                                <div class="border-project"></div>-->
<!--                                <div class="project-tools">-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="break-between-projects-low-res"></div>
                        <!-- 6 project -->
                        <div class="single-project">
                            <a class="project-photo-link" href="#">
                                <img class="project-image" src="/icons/1-pic-project.png">
                                <div class="project-image-on-hover">
                                    <h3 class="project-image-text-inside">Visit the site</h3>
                                </div>
                            </a>
<!--                            <div class="project-info">-->
<!--                                <span class="project-name">......</span>-->
<!--                                <div class="border-project"></div>-->
<!--                                <div class="project-tools">-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                    <span class="project-single-tool">..........</span>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>

                <div class="some-words-my-projects">
                    <h2 class="subwords-my-projects">Java wasn't my first language. I like taking challenges and I decided to start my career as an engineer by learning C++. It was too much of a burden and after some time I started exploring Java.</h2>
                </div>
            </div>

            <div id="contact-me-wrapper-id" class="contact-me-wrapper">
                <div class="my-contacts-wrapper">
                    <h1 class="contact-me-header">Want to work together?</h1>
                    <h3 class="contact-me-header">Contact me.</h3>

                    <div class="socials">
                        <div class="socials-wrap">
                            <a class="socials-links" href="https://twitter.com/RealCryZed">
                                <img class="socials-images" src="icons/twitter.png">
                            </a>
                            <a class="socials-links" href="https://github.com/RealCryZed">
                                <img class="socials-images" src="icons/github.png">
                            </a>
                            <a class="socials-links" href="https://www.instagram.com/realcryzed/">
                                <img class="socials-images" src="icons/instagram.png">
                            </a>
                            <a class="socials-links" href="https://vk.com/ugotheadshotted">
                                <img class="socials-images" src="icons/vk.png">
                            </a>
                            <a class="socials-links" href="mailto:realcryzed@gmail.com">
                                <img class="socials-images" src="icons/email.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener("scroll", function() {
            if (window.scrollY != 0) {
                document.getElementById('navbar-id').classList.remove('moved-navbar-off');
                document.getElementById('navbar-id').classList.add('moved-navbar');
            } else {
                document.getElementById('navbar-id').classList.remove('moved-navbar');
                document.getElementById('navbar-id').classList.add('moved-navbar-off');
            }
        });
    </script>
    <script>
        function openNavbarMenu() {
            document.getElementById('navbar-id').classList.remove('moved-navbar-off');
            document.getElementById('navbar-id').classList.add('moved-navbar');

            document.getElementById('navbar-menu-button-wrapper-id').classList.add('button-off');
            document.getElementById('navbar-menu-button-id').onclick = function() { closeNavbarMenu() }
        }

        function scrollToStart() {
            var element = document.getElementById("wrapper-id");
            element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
        }

        function scrollToAboutMe() {
            var element = document.getElementById("about-me-wrapper-id");
            element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
        }

        function scrollToMyProjects() {
            var element = document.getElementById("my-projects-list-id");
            element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
        }

        function scrollToContactMe() {
            var element = document.getElementById("contact-me-wrapper-id");
            element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
        }
    </script>
    <script>

        var pos = 0;
        var txt = document.getElementById("logo-inside-text-id").innerHTML; /* The text */
        var speed = 130; /* The speed/duration of the effect in milliseconds */
        var speedErase = 50;
        var speedToStop1 = 1000;
        var speedToStop2 = 2500;

        document.getElementById('logo-inside-text-id').innerText = '';

        setTimeout(typeWriter, speed);

        function typeWriter() {
            if (pos < txt.length) {
                document.getElementById('logo-inside-text-id').innerHTML += txt.charAt(pos);
                pos++;
                setTimeout(typeWriter, speed);
            } else {
                setTimeout(erase, speedToStop2)
            }
        }

        function erase() {
            if (pos >= 0) {
                var temp = txt.substring(0, pos);
                document.getElementById('logo-inside-text-id').innerText = temp;
                pos--;
                setTimeout(erase, speedErase);
            }  else {
                setTimeout(typeWriter, speedToStop1);
            }
        }
    </script>
<!--    <script type="text/javascript" src="https://www.dcfonts.com/wp-includes/js/wp-embed.min.js?ver=5.3.2"></script>-->
</body>
</html>