<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page - RealCryZed</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div id="wrapper-id" class="wrapper">
        <div class="container-photo">
            <div class="main-image-carrier"></div>
            <h1 class="logo-inside-name">Igor Petrov</h1>
            <h3 class="logo-inside-text" id="logo-inside-text-id">Russia-based Java Software Engineer</h3>

            <!-- This Icon from www.flaticon.com-->
            <div class="button-to-about-me-wrapper">
                <button class="button-to-about-me" th:href="@{/}" onclick="scrollToAboutMe();">
                    <img th:src="@{icons/down-arrow.png}"/>
                </button>
            </div>
        </div>
        <div class="front-page-wrapper">
            <div id="navbar-id" class="navbar moved-navbar-off">
                <nav class="navcon">
                    <div class="navbar-block">
                        <button onclick="scrollToStart();" class="navbar-link navbar-link-home">HOME</button>
                        <button onclick="scrollToAboutMe();" class="navbar-link">ABOUT ME</button>
                        <button onclick="scrollToMyProjects();" class="navbar-link">MY PROJECTS</button>
                        <button class="navbar-link">CONTACT</button>
                    </div>
                </nav>
            </div>
        </div>

        <div id="about-me-wrapper-id" class="about-me-wrapper">
            <h1 class="about-me-header">About me</h1>

            <p class="about-me-text">I'm 17 years old Java Programmer, based in Omsk, Russia.</p>
            <p class="about-me-subtext">I am driven by ambition , a desire to develop and get new skills.</p>
        </div>

        <div id="my-projects-wrapper-id" class="my-projects-wrapper">
            <div class="img-inside-my-projects"></div>
            <h1 class="my-projects-header">My Projects</h1>

            <div class="my-projects-list">

            </div>
        </div>
    </div>

    <script>
        // function getDocHeight() {
        //     var D = document;
        //     return Math.max(
        //         D.body.scrollHeight, D.documentElement.scrollHeight,
        //         D.body.offsetHeight, D.documentElement.offsetHeight,
        //         D.body.clientHeight, D.documentElement.clientHeight
        //     );
        // }

        window.addEventListener("scroll", function() {
            if (window.scrollY != 0) {
                document.getElementById('navbar-id').classList.remove('moved-navbar-off');
                document.getElementById('navbar-id').classList.add('moved-navbar');
            } else {
                document.getElementById('navbar-id').classList.remove('moved-navbar');
                document.getElementById('navbar-id').classList.add('moved-navbar-off');
            }
        });
    </script>
    <script>
        function scrollToStart() {
            var element = document.getElementById("wrapper-id");
            element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
        }

        function scrollToAboutMe() {
            var element = document.getElementById("about-me-wrapper-id");
            element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
        }

        function scrollToMyProjects() {
            var element = document.getElementById("my-projects-wrapper-id");
            element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
        }
    </script>
    <script>

        var pos = 0;
        var txt = document.getElementById("logo-inside-text-id").innerHTML; /* The text */
        var speed = 130; /* The speed/duration of the effect in milliseconds */
        var speedErase = 50;
        var speedToStop1 = 1000;
        var speedToStop2 = 2500;

        document.getElementById('logo-inside-text-id').innerText = '';

        setTimeout(typeWriter, speed);

        function typeWriter() {
            if (pos < txt.length) {
                document.getElementById('logo-inside-text-id').innerHTML += txt.charAt(pos);
                pos++;
                setTimeout(typeWriter, speed);
            } else {
                setTimeout(erase, speedToStop2)
            }
        }

        function erase() {
            if (pos >= 0) {
                var temp = txt.substring(0, pos);
                document.getElementById('logo-inside-text-id').innerText = temp;
                pos--;
                setTimeout(erase, speedErase);
            }  else {
                setTimeout(typeWriter, speedToStop1);
            }
        }
    </script>
<!--    <script type="text/javascript" src="https://www.dcfonts.com/wp-includes/js/wp-embed.min.js?ver=5.3.2"></script>-->
</body>
</html>